<footer class="footer"> <!-- Footer -->
    <div class="container">
        <div class="footer-logo">
            <img src="assets/img/image_logo.png" alt="logo" width="100%">
        </div>
        <div class="footer-columns">
            <div class="footer-column">
                <h3>Learn More</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Press Releases</a></li>
                    <li><a href="#">Environment</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Tickets & Booking</h3>
                <ul>
                    <li><a href="#">Travel Tickets</a></li>
                    <li><a href="#">Season Passes</a></li>
                    <li><a href="#">Vacation Packages</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contact Us</h3>
                <ul>
                    <li>Hotel Reservation: +48 919-700-641</li>
                    <li>Ticket Office: +48 917-700-641</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Social</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Lift Media | All Rights Reserved</p>
    </div>
</footer> <!-- End Footer -->