<div class="header"> <!-- Header -->
    <div class="navbar">
        <div class="logo">
            <img src="assets/img/image_logo.png" alt="logo" width="100%">
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="#">Destination</a></li>
                <li><a href="#">Stories</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
        </nav>
        <div class="research"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="account-controls">
            <button class="signup-btn">Sign Up</button>
            <button class="login-btn">Login</button>
        </div>
    </div>
</div> <!-- End Header -->